@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Vidaloka&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #181818;
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  font-family: "Vidaloka", serif;
}
